html
{
	height: 100%;	
}

.Body
{
	background-color: #1D0113;
	font-family: 'Reem Kufi', sans-serif;
	margin: 0px;
}

.Body h1, .Body h5, .Body h6
{
	font-family: 'Reem Kufi', sans-serif;
}

.navbar
{
    transition: all;
	transition-duration: 2s;
	font-size: 20px;
	text-align: right;
}

.navbar .nav-link 
{
    color: wheat;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus 
{
    color: wheat;
    text-decoration: none;
	font-size: 25px;
}

/* Change navbar styling on scroll */
.navbar.active
{
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	background-color: #1D0113;
}

.navbar.active .nav-link 
{
    color: wheat;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus 
{
    color: wheat;
    text-decoration: none;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) 
{
    .navbar-toggler
	{
		color: wheat;
	}

    .navbar, .navbar .nav-link
	{
        color: wheat;
    }
}

/********************** HomeSection **********************************/
.HomeSection
{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 50%,#000000),url(pic/milkyWay.jpg) 100%; 
  	background-repeat: no-repeat;
	background-size: cover;
}

.typewrite
{
    color: wheat;
	margin-top: 300px;
}

.parallax-innerOne 
{
	padding-top: 50px;
	padding-bottom: 200px;
}


.rounded-circle   
{
	margin-top: 160px;
	width: 150px;
    height: 155px;
	margin-left:  auto;
	margin-right: auto;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	z-index: 1;
}

/****************** AboutSection ******************/


#right::after 
{

	content: "";
    background: black;
    height: 200px;
    -webkit-transform: skewY(-10deg) ;
    -ms-transform: skewY(-10deg);
    transform: skewY(-10deg);
    position: absolute;
    left: 0;
    bottom: -100px;
    right: 0;
    z-index: -1;
}

#left::after 
{
	content: "";
    background: black;
    height: 200px;
    -webkit-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    transform: skewY(10deg);
    position: absolute;
    left: 0;
    bottom: -100px;
    right: 0;
    z-index: -1;
}

.AboutSection
{
	margin-bottom: 100px;
}

.AboutTxt
{
	color: wheat;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	margin-top: 200px;
}

.AboutTxt p
{
	margin: 40px;
	word-spacing: 5px;
	
}


/************ StorySliderSection ******************/

.StorySliderSection
{
	background: url(pic/background2.png) fixed no-repeat;
	background-size: cover;
	height: 1200px;
	padding: 20px;
}

.StorySliderSection h1
{
	 color: wheat;
	 margin-top: 100px;
	 margin-bottom: 50px;
}


.Card
{
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 150px;
	border: 1px solid transparent; 
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	background-color: rgba(179, 167, 167, 0.29);
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
}


.StoryImage 
{
	margin-top: 50px;
	margin-bottom: 20px;
}

.overlay 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}

.overlay:hover 
{
  opacity: 1;
}



.Date 
{
    color: #1D0113;
    font-size: 40px;
    margin-bottom: 30px;
}

.WhiteLine, .clearfix
{
	background-color: wheat;
}

.StoryParagraph
{
	color: #1D0113;
    font-size: 20px;
}


.dot 
{
	font-size: 20px;
	display:inline;
	margin-left: 2px;
	margin-right: 2px;
    color: wheat;
}

.dot:hover
{
	color: #1D0113;
}

ul
{
	list-style: none;
}

.underline
{
	background-color: #1D0113;
	
}


.IntroText,.HomeSection
{
	/* Full height */
	height: 800px;

}


/******************** ImgSection ***************/

.ImgSection
{
	padding: 10px;
	margin-bottom: 200px;
}

.ImgSection h1
{
	color: wheat;
	margin-top: 100px;
	margin-bottom: 50px;
}

.BrakeLine
{
	height: 1px;
	background-color: black;
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}



.FixedBG 
{
	background: url(pic/background2.png) no-repeat  fixed 100%;
	background-size: cover;
	padding: 20px;
	
}
.FixedBG h1
{
	color: wheat;
	margin-top: 100px;
	margin-bottom: 50px;
}

.row 
{
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column 
{
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img 
{
	margin-top: 10px;
	vertical-align: middle;
	width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


.slideCard
{
	margin: 20px;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    

	
	
	
}
.CardSlider{
	
	
margin-bottom: 200px;	
	
}
.cardInner
{
	margin-bottom: 30px;
	
	padding: 50px;
	
	
	
	
}
	
	
	

/******************** FooterSection ***************/
.Footer
{
	background-color: #1D0113;
	color: wheat;
}

.fa-youtube
{
	color: #bb0000;	
	margin: 2px;
    font-size: 50px;	
}


.fa-youtube:hover
{
	color: wheat;	
}



.slide 
{
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide
{
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

@-webkit-keyframes slide
{
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px)
{
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
}







			
			


